<div class="container">
    <div class="row">
        <div class="col text-center main">
          <div class="logo-container">
            <img src="assets/varchar-logo.png" class="logo-container__img"  alt="logo de varchar">
          </div>
          <div class="description">
              <div class="description__title">VarChar</div>
              <div class="description__content">Software libre development</div>
              <div class="description__location">Quito, Ecuador</div>
          </div>
        </div>
    </div>
</div>

